
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0F172A;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Button */
.btn {
  padding: 12px 28px;
  border-radius: 30px;
  background: linear-gradient(135deg, #6C63FF, #00D4FF);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 25px rgba(108, 99, 255, 0.4);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 35px rgba(0, 212, 255, 0.6);
}
